<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='_css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="../static/_css/style.css"/>
    <link rel="shortcut icon" href="../static/favicon.ico" />
    
    <title>Livros</title>
    
</head>
<script type="text/javascript" src="../_js/script.js"></script>
<body>
    <div class="container">
        <header>
            <div class="img-wrapper">
                <img src="../static/susan.jpg" alt="">
            </div>
            <div class="banner">
                <h1>Livros</h1>
                <a href="#secao1"><button>Saiba mais</button></a>
            </div>
        </header>
        <section class="sessao-livros" id="secao1">
            <div class="sessao-header">
                <h1>Livros</h1>
            </div>
            <div class="sessao-livrosc">
                <div class="elivros">
                    <img src="../static/livro001.jpg" class="imagensesq" alt="">
                </div>
                <div class="elivros">
                    <img src="../static/livro002.png" class="imagensesq" alt="">
                </div>
                <div class="elivros">
                    <img src="../static/livro003.jpg" class="imagensesq" alt="">
                </div>
                <div class="dlivros">
                    <img src="../static/livro004.png" class="imagensdir" alt="">
                </div>
                <div class="dlivros">
                    <img src="../static/livro005.jpg" class="imagensdir" alt="">
                </div>
                <div class="dlivros">
                    <img src="../static/livro006.jpg" class="imagensdir" alt="">
                </div>
            </div>
        </section>
    </div>
</body>
</html>